$pink: #F7B2C5;
$blue: #ABE1FB;
$white: #FFFFFF;
$black: #000000;
$dark-grey: #888888;

$theme-colour: $blue;
$text-shadow: $dark-grey;
$font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

$break-small: 500px;
$break-large: 1300px;

html, body {
    background-image: linear-gradient($white, $theme-colour);
    background-attachment: fixed;
    font-family: $font-family;
}

h1 {
    padding-left: 10px;
    color: $theme-colour;
    font-weight: bold;
}

.recipes {
    display: table;
    border-collapse: collapse;

    .recipe {
        float: left;
        width: 20vw;
        height: 20vw;
        position: relative;
        margin: 0.5vw;
        overflow: hidden;
        display: table-cell;
        z-index: 5;

        border: 7px solid $theme-colour;
        border-radius: 5px;

        @media screen and (max-width: $break-small) {
            width: 25vw;
            height: 25vw;
        }

        @media all and (orientation: portrait) {
            width: 25vw;
            height: 25vw;
        }

        &:hover {
            cursor: pointer;
            .recipe-image {
                opacity: 1;
            }
        }

        .recipe-image {
            height: 100%;
            width: auto;
            position: absolute;
            z-index: -1;
            opacity: 0.8;
        }

        .title {
            position: relative;
            top: 50%;
            transform: translateY(-50%);

            font-size: 20pt;
            font-size: 3.5vw;
            font-weight: bold;

            text-align: center;
            color: $theme-colour;
            text-shadow: -1px 0 $text-shadow, 0 1px $text-shadow, 1px 0 $text-shadow, 0 -1px $text-shadow;

            /*@media screen and (max-width: $break-small) {
                font-size: 12pt;
            }
            @media screen and (min-width: $break-large) {
                font-size: 36pt;
            }*/
        }
    }
}
