<!DOCTYPE html>
<html>

<head>
  <title>Belen's Recipes - {{ title }}</title>
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="../common/recipe.css">
</head>

<body>

<div class="recipe">
    <div class="title">
        <h2>{{ title }}</h2>
    </div>
    <div class="description">
        <p>Ingredients (for {{ portion }}):</p>
        <ul>
            {% for ingredient in ingredients %}
            <li>{{ ingredient }}</li>
            {% endfor %}
        </ul>
        <p>Method:</p>
        <ol>
            {% for step in method %}
            <li>{{ step }}</li>
            {% endfor %}
        </ol>
        {% if source %}
            <a href="{{ source }}">Source</a>
        {% endif %}
    </div>
</div>

</body>
</html>
