$pink: #F7B2C5;
$blue: #ABE1FB;
$white: #FFFFFF;
$black: #000000;
$dark-grey: #888888;

$theme-colour: $blue;
$text-shadow: $dark-grey;
$font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;

$break-small: 500px;
$break-large: 1300px;

html, body {
    font-family: $font-family;
    font-size: 2vh;
}

.recipe {
    padding: 0 7% 0 7%;
    .title {
        text-shadow: -1px 0 $text-shadow, 0 1px $text-shadow, 1px 0 $text-shadow, 0 -1px $text-shadow;
        color: $theme-colour;
        font-weight: bold;
        font-size: 3vh;
    }

    .description {
        p {
            /*color: $theme-colour;*/
        }
        li {
            /*color: $dark-grey;*/
        }
    }
}
