@import 'style';

html, body {
    font-family: $font-family;
    font-size: 2vh;
}

.recipe {
    .title {
        text-shadow: -1px 0 $text-shadow, 0 1px $text-shadow, 1px 0 $text-shadow, 0 -1px $text-shadow;
        color: $theme-colour;
        font-weight: bold;
        font-size: 3vh;
    }

    .description {
        p {
            /*color: $theme-colour;*/
        }
        li {
            /*color: $dark-grey;*/
        }
    }
}
